.five9-chat-button {
    font-size: 24px !important;
}

#five9-popout-button {
    float: right;
}



.provider, .provider:hover, .provider:focus, .provider-text {
    cursor: default !important;
    display: none !important;
}



.five9-minimize-button {
    background: #7AC23A !important;
}

.five9-chat-button .five9-icon {
    background-image: url(https://i.ibb.co/cwKXP5g/icono-5.png) !important;
}